/* Layout wrapper from the Vite template */
#root {
  width: 100%;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Base typography */
body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* App layout */
.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 4px 16px;
  background: linear-gradient(90deg, #026aa7, #75cdff);
  color: white;
}

.app-header > h1 {
  margin-left: .3rem;
  margin-bottom: .3rem;
  font-size: 2.3rem;
}

main {
  flex: 1;
  background: #0079bf22;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}